.form-reg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}
.block {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
}